/packages
/ParentControl/bin
/ParentControl/obj
/ParentControl/ParentControl.csproj.user
/ParentControlClient/bin
/ParentControlClient/obj
/ParentControlCommon/bin
/ParentControlCommon/obj
/ParentControlClient/ParentControlClient.csproj.user
/ParentControlInstaller/bin
/ParentControlInstaller/obj
/ParentControlInstallerCustomAction/bin
/ParentControlInstallerCustomAction/obj
/ParentControlManager/bin
/ParentControlManager/obj
/ParentControlObjectModel/bin
/ParentControlObjectModel/obj
/.vs
